#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,0,0,0
 PRODUCTVERSION 4,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Liangjian\0"
            VALUE "FileDescription", "量见智桥兼容启动器\0"
            VALUE "FileVersion", "4.0.0.0\0"
            VALUE "InternalName", "AURUMBridge.Launcher.exe\0"
            VALUE "OriginalFilename", "AURUMBridge.Launcher.exe\0"
            VALUE "ProductName", "量见智桥\0"
            VALUE "ProductVersion", "4.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
